@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    华北科技学院<br />
    河北省, ZH 666666-8888<br />
    <abbr title="Phone">电话：</abbr>
    555.555.5555
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<!--
<div class="contact-agileinfo01">
    <div class="container01">
        <h2>联系我们</h2>
        <div class="col-md-4 contact-left-agile01">
            <div class="address-w3-agileits" id="address">
                <h4>地址：</h4>
                <address>
                    <ul>
                        <li><span class="glyphicon01 glyphicon01-map-marker" aria-hidden="true"></span> 华北科技学院</li>
                        <li><span class="glyphicon01 glyphicon01-map-marker" aria-hidden="true"></span> 河北省廊坊市</li>
                        <li><span class="glyphicon01 glyphicon01-map-marker" aria-hidden="true"></span> 中国</li>
                    </ul>
                </address>
            </div>
            <div class="phone-agileits-w3layouts01" id="phone">
                <h4>Phone</h4>
                <p><span class="glyphicon01 glyphicon01-earphone" aria-hidden="true"></span> +86 8888888888</p>
                <p><span class="glyphicon01 glyphicon01-earphone" aria-hidden="true"></span> +86 6666666666</p>
            </div>
            <div class="email">
                <h4>Email</h4>
                <p><span class="glyphicon01 glyphicon01-envelope" aria-hidden="true"></span> <a href="mailto:mail@example.com"> web_game@mail.com</a></p>
            </div>
        </div>
        <div class="col-md-8 contact-right-w301">
            <form action="#" method="post">
                <input type="text" class="text" name="Name" placeholder="姓名" required="">
                <input type="text" class="text" name="Email" placeholder="电子邮件" required="">
                <input type="text" class="text" name="Phone" placeholder="联系方式" required="">
                <input type="text" class="text" name="City" placeholder="地址" required="">
                <textarea name="Message" placeholder="留言" required=""></textarea>
                <input type="submit" class="more_btn" value="Send Message">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
    banner -->
